body {
  position: relative;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: row;
  height: 99vh;
  margin: 0.5vh;
}

@media screen and (max-width: 900px) {
  .App {
    flex-direction: column;
  }

  .RecipeGrid {
    margin: 0 -1em -1em -1em;
  }

  .Header {
    max-height: 27em;
  }
}

@media screen and (min-width: 900px) {
  .App {
    flex-direction: row;
  }

  .RecipeGrid {
    margin: -1em -1em -1em 0;
  }

  .Header {
    max-width: 25em;
  }
}

.Header {
  margin: 0.5em;
  text-align: center;
  background-color: #b5acb4;
  border-radius: 0.75em;
  display: flex;
  flex-direction: column;
}

.Header_title {
  margin: 0.25em 0.25em 0.5em 0.25em;
  color: #2a1d28;
  font-size: 4.3em;
  font-family: "Permanent Marker", sans-serif;
}

.Header_title:hover {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .Header_title {
    font-size: 3.6em;
  }
}

.Header_links {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-flow: row wrap;
  margin: 0.25em;
}

.Header_link {
  padding: 0;
  color: #473144;
  font-size: 1.9rem;
  font-weight: 400;
  font-family: "Covered By Your Grace", sans-serif;
}

.Header_link:hover,
.Header_link:focus {
  cursor: pointer;
  font-style: italic;
  transition: all 0.2s ease-out;
  transform: scale(1.1);
  color: #2a1d28;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.SearchBar {
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 0;
}

.SearchBar_input {
  border-radius: 0.3em;
  border: none;
  appearance: none;
  outline: none;
  width: 250px;
  height: 30px;
  font-size: 1em;
}

.SearchBar_input:focus::placeholder {
  color: transparent;
}

.SearchBar_input::placeholder {
  color: #2a1d28;
  transition: color 0.3s ease;
}

.Authentication_buttons {
  font-family: "Covered By Your Grace", sans-serif;
  font-size: 1.9em;
  color: #473144;
  background-color: transparent;
  border: none;
  display: flex;
}

.Authentication_buttons:focus,
.Authentication_buttons:hover {
  cursor: pointer;
  font-style: italic;
  transition: all 0.2s ease-out;
  transform: scale(1.1);
  color: #2a1d28;
  outline: none;
}

.AboutMe {
  justify-content: center;
  text-align: center;
  color: #2a1d28;
  margin: 0 1em 0 1em;
  height: 98vh;
}

@media screen and (min-width: 1200px) {
  .AboutMe {
    width: 100%;
  }
}

.AboutMe_title {
  font-size: 3.5em;
  margin: 0.5em 0 0 0;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  font-family: "Covered By Your Grace", sans-serif;
}

.AboutMe_subtitle {
  font-size: 1.7em;
  text-align: center;
  font-family: "Dongle", sans-serif;
}

.AboutMe_image {
  justify-content: center;
  text-align: center;
  height: 17rem;
  width: 20em;
  border-radius: 0.75em;
  object-fit: cover;
  margin: 1.5em 0 2em 0;
}

.AboutMe > p {
  font-size: 2em;
  margin: 0 2em 0 2em;
  color: #2a1d28;
  font-family: "Dongle", sans-serif;
}

footer {
  color: #2a1d28;
  margin: 1em 0 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: inherit;
  text-align: center;
  justify-content: center;
  font-family: "Covered By Your Grace", sans-serif;
}

.RecipeGrid_container {
  height: 100%;
  overflow-y: scroll;
}

.RecipeGrid_container::-webkit-scrollbar {
  display: none;
}

.RecipeGrid {
  margin: -0.25em 0.25em -0.25em 0.25em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.RecipeGrid_item {
  flex: 1;
  margin: 1em;
}

.RecipeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.3em;
  background-color: #dcd3e84d;
  box-shadow: 4px 8px 8px 4px #d0cad9c4;
  min-width: 290px;
  height: 300px;
  border: 1px #d0cad9c4;
  font-family: "Dongle", sans-serif;
  transition: transform 0.2s;
}

.RecipeCard:hover {
  box-shadow: 10px 10px 10px 10px #d0cad9c4;
  transform: scale(1.02);
}

.RecipeCard_title {
  font-size: 2.3em;
  text-align: center;
  color: #473144;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}

.RecipeCard_image_container {
  display: flex;
  justify-content: center;
}

.RecipeCard_image {
  justify-content: center;
  align-content: center;
  border-radius: 0.5em;
  object-fit: cover;
  height: 150px;
  width: 300px;
}

.RecipeCard_times {
  text-align: center;
  justify-content: center;
  color: #473144;
  font-size: 1.6em;
  padding: 0.25em 0 0 0;
}

.RecipeDetails {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 0.5em;
  background-color: #dcd3e84d;
  font-family: "Dongle", sans-serif;
  box-shadow: 2px 8px 8px 4px #d0cad9c4;
  border-radius: 0.5em;
  color: #2a1d28;
  overflow-y: scroll;
  overflow-x: hidden;
}

.RecipeDetails::-webkit-scrollbar {
  display: none;
}

.RecipeDetails_header {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.RecipeDetails_header_title {
  width: 100%;
  margin: 0.25em 0 0.25em 0;
  text-align: center;
  color: #2a1d28;
  font-size: 4em;
  font-family: "Covered By Your Grace", sans-serif;
}

.RecipeDetails_header_image {
  height: 20em;
  width: 30em;
  border-radius: 0.5em;
  object-fit: cover;
}

.RecipeDetails_body {
  display: flex;
  flex-flow: row wrap;
}

.RecipeDetails_body_short_details {
  width: 50%;
  text-align: center;
}

.RecipeDetails_body_header {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 2.2em;
  color: #2a1d28;
}

.RecipeDetails_body_time {
  font-size: 1.7em;
}

.RecipeDetails_body_ingredients {
  width: 50%;
  text-align: center;
}

.RecipeDetails_body_ingredients_list {
  font-size: 1.7em;
  color: #2a1d28;
  text-align: left;
}

.RecipeDetails_body_ingredients_list > ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.RecipeDetails_body_method {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.RecipeDetails_body_method > ol {
  padding-inline-start: 0px;
}

.RecipeDetails_body_method_steps {
  color: #2a1d28;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  font-size: 1.7em;
  justify-content: center;
  text-align: left;
}

@media screen and (max-width: 850px) {
  .RecipeDetails_body_method_steps {
    margin: 0 1.5em 1em 1.5em;
  }
}

.CommentSection {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 80%;
}

.CommentForm {
  font-family: "Covered By Your Grace", sans-serif;
  color: #2a1d28;
  border-radius: 0.4em;
}

.CommentForm_header {
  margin: 0 0 0 2em;
  float: left;
  font-size: 2em;
}

.CommentForm_input {
  border-radius: 0.3em;
  border: none;
  appearance: none;
  outline: none;
  min-width: 90%;
  height: 7em;
  font-size: 1.3em;
  resize: none;
  padding: 0.25em;
  margin: 0;
}

.CommentForm_submit_button {
  padding: 0;
  color: #473144;
  font-size: 1.9rem;
  font-weight: 400;
  font-family: "Covered By Your Grace", sans-serif;
  float: right;
  border: none;
  outline: none;
  margin: 0 2.5em 1em 0;
  border-radius: 0.25em;
  transition: transform 0.2s;
}

.CommentForm_submit_button:hover {
  cursor: pointer;
  color: #2a1d28;
  transform: scale(1.05);
}

.CommentCard {
  display: inline-block;
  border-radius: 0.5em;
  background-color: #dcd3e84d;
  box-shadow: 2px 4px 4px 2px #d0cad9c4;
  width: 90%;
  margin: 0.5em 0 1.5em 0;
  font-family: "Dongle", sans-serif;
}

.CommentCard_header {
  font-size: 1.7em;
  text-align: left;
  padding: 0;
  margin: 0.17em 0 0 0.5em;
}

.CommentCard_date {
  text-align: left;
  justify-content: left;
  font-size: 1.5em;
  margin: 0;
  padding: 0 0 0 0.51em;
  font-style: italic;
}

.CommentCard_text {
  font-size: 1.5em;
  text-align: left;
  margin: 0;
  padding: 0 0 0 0.51em;
}

.RecipeNotFound {
  display: inline-block;
  margin: 1em;
  height: 91vh;
  color: #2a1d28;
  font-size: 3em;
  justify-content: center;
  font-family: "Dongle", sans-serif;
}

.RecipeNotFound_face {
  justify-content: center;
  text-align: center;
  font-size: 7em;
  padding: 0;
  margin: 0;
  height: fit-content;
}

.RecipeNotFound_message {
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.RecipeForm {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0.5em;
  background-color: #dcd3e84d;
  font-family: "Dongle", sans-serif;
  box-shadow: 2px 8px 8px 4px #d0cad9c4;
  border-radius: 0.5em;
  color: #2a1d28;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 1.3em;
  justify-content: center;
  text-align: center;
}

.RecipeForm::-webkit-scrollbar {
  display: none;
}

.RecipeForm_header {
  font-size: 2.5em;
  width: 100%;
  height: min-content;
  margin: 0;
  padding: 0;
}

.RecipeForm_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.RecipeForm_label {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left;
}

.RecipeForm_input {
  width: 100%;
  font-size: 1.1em;
}

.RecipeForm_textarea {
  width: 100%;
  height: 7em;
  resize: none;
  overflow-y: scroll;
  font-size: 1.3em;
  overflow: auto;
}

.RecipeForm_submit_button {
  font-size: 1.1em;
  border-radius: 0.25em;
  background-color: transparent;
  margin: 1em 0 1em 0;
  border: none;
  color: #2a1d28;
}

.RecipeForm_submit_button:hover {
  cursor: pointer;
  font-style: italic;
  transform: scale(1.05);
}
